﻿<table style="width: 290px; font-family: Arial; font-size: 11px; border-style: solid; border-width: 1px 1px 1px 1px;">
    <tr style="height: 17px">
        <td style="text-align: center; font-size: 15px; font-weight: bold; border-style: solid; border-width: 0px 0px 1px 0px" colspan="2">
            #TICKET_CLIENTE#
        </td>
    </tr>
    <tr style="height: 17px">
        <td width="70px">
            Origem
        </td>
        <td>
            #TICKET_ORIGEM_DESC_RESUMIDA#
            -
            #TICKET_ORIGEM_CGC_FORMAT#
        </td>
    </tr>
    <tr style="height: 17px">
        <td width="70px">
            Destino
        </td>
        <td>
            #TICKET_DESTINO_DESC_RESUMIDA#
            -
            #TICKET_DESTINO_CGC_FORMAT#
        </td>
    </tr>
    <tr style="height: 17px">
        <td>
            Data
        </td>
        <td>
            #TICKET_DATA_PESAGEM#
        </td>
    </tr>
    <tr style="height: 17px">
        <td>
            Balança
        </td>
        <td>
            #TICKET_NUMERO_BALANCA#
        </td>
    </tr>
    <tr style="height: 17px">
        <td>
            Vagão
        </td>
        <td>
            #VAGAO_DESCRICAO#
        </td>
    </tr>
    <tr style="height: 17px">
        <td>
            Produto
        </td>
        <td>
            #PRODUTO_DESCRICAO#
        </td>
    </tr>
    <tr style="height: 17px">
        <td>
            Peso Bruto
        </td>
        <td>
            #VAGAO_PESO_BRUTO_FORMATADO#
        </td>
    </tr>
    <tr style="height: 17px">
        <td>
            Peso Tara
        </td>
        <td>
            #VAGAO_PESO_TARA_FORMATADO#
        </td>
    </tr>
    <tr style="height: 17px">
        <td>
            Peso Líquido
        </td>
        <td>
            #VAGAO_PESO_LIQUIDO_FORMATADO#
        </td>
    </tr>
    <tr>
        <td colspan="2" style="border-style: solid; border-width: 0px 0px 1px 0px;">
            <table style="width: 100%; font-family: Arial; font-size: 10px;">
                <tr>
                    <td style="text-align: center; font-size: 15px; border-style: solid; border-width: 1px 0px 1px 0px;" colspan="4">
                        Notas Fiscais Carregadas
                    </td>
                </tr>
                <tr>
                    <td>
                        Série
                    </td>
                    <td>
                        Número
                    </td>
                    <td>
                        Peso
                    </td>
                    <td>Saldo Disp.</td>
                </tr>
                #NOTAS_FISCAIS_CARREGADAS_TABLE#
            </table>
        </td>
    </tr>
    <tr style="height: 17px">
        <td style="border-style: solid; border-width: 0px 0px 1px 0px;" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr style="height: 60px">
        <td style="border-style: solid; border-width: 0px 0px 1px 0px;">
            Observação:
        </td>
        <td style="border-style: solid; border-width: 0px 0px 1px 0px;">
            #TICKET_OBSERVACAO#
        </td>
    </tr>
    <tr style="height: 17px">
        <td>
            Resp:
        </td>
        <td>
            #TICKET_RESPONSAVEL#
        </td>
    </tr>
    <tr style="height: 17px">
        <td>
            Autenticacao
        </td>
        <td>
        </td>
    </tr>
    <tr style="height: 17px">
        <td colspan="2" style="text-align: left;">
            Data Reimpressão:
            #DATA_REIMPRESSAO#
        </td>
    </tr>
</table>