/*
 * Ext JS Library 2.0 Alpha 1
 * Copyright(c) 2006-2007, Ext JS, LLC.
 *
 * @license GPL
 * @author Kemal Tunador <tunador@madrabaz.com>
 */
.ext-el-mask {
    background-color: #CCCCCC!important;
}

.ext-el-mask-msg {
    border: 1px solid #444444;
    background: #666666;
}

.ext-el-mask-msg div {
    border: 1px solid #888888;
}

.x-panel {
    border-style: solid;
    border-color: #666666;
}

.x-panel-header {
    color: #eeeef0;
    border: 1px solid #666666;
    background-image: url(../images/slickness/panel/white-top-bottom.gif);
}

.x-panel-body  {
    border-color: #666666;
    color: #eeeef0;
    background-color: #000000!important;
}

.x-panel-bbar .x-toolbar {
    border-color: #666666;
}

.x-panel-tbar .x-toolbar {
    border-color: #666666;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-color: #666666;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-color: #666666;
}

.x-panel-tl .x-panel-header {
    color: #eeeef0;
}

.x-panel-tc {
    background-image: url(../images/slickness/panel/top-bottom.gif);
}

.x-panel-tl {
    background-image: url(../images/slickness/panel/corners-sprite.gif);
    border-color: #666666;
}

.x-panel-tr {
    background-image: url(../images/slickness/panel/corners-sprite.gif);
}

.x-panel-bc {
    background-image: url(../images/slickness/panel/top-bottom.gif);
}

.x-panel-bl {
    background-image: url(../images/slickness/panel/corners-sprite.gif);
}

.x-panel-br {
    background-image: url(../images/slickness/panel/corners-sprite.gif);
}

.x-panel-mc {
    background: #171717;
}

.x-panel-mc .x-panel-body {
    background: transparent;
    border: 0 none;
    color: #eee !important;
}

.x-panel-ml {
    background-image: url(../images/slickness/panel/left-right.gif);
}

.x-panel-mr {
    background-image: url(../images/slickness/panel/left-right.gif);
}
/* Ghosting */
.x-panel-ghost {
    background: #161616;
}

.x-panel-ghost ul {
    border-color: #666666;
}

.x-grid-panel .x-panel-mc .x-panel-body {
    border: 1px solid #eeeef0;
}
/* Grid */
.x-grid3 {
    background-color: #000000 !important;
}

.x-grid3-row {
    color: #eeeef0;
	border: 1px solid #666;
	border-bottom : 1px solid #010101;
}

.x-grid3-row-alt{
	background-color:#111111;
}

.x-grid3-row-over {
    border: 1px solid #292929;
    color: #333333;
    background-image: url(../images/slickness/grid/row-over.gif);
}

.x-grid3-row-selected {
    color: #333333!important;
}

.x-grid3-header {
    background-image: url(../images/slickness/grid/grid3-hrow.gif);
	background-color : #747474;
}

.x-grid3-hd-inner {
    color: #EEEEEE;
}

.x-grid3-header-pop-inner {
    border-left: 1px solid #000000;
    background-image: url(../images/slickness/grid/hd-pop.gif);
}

td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.sort-desc .x-grid3-sort-icon {
    background-image: url(../images/slickness/grid/sort_desc.gif);
}

.sort-asc .x-grid3-sort-icon {
    background-image: url(../images/slickness/grid/sort_asc.gif);
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-image: url(../images/slickness/grid/grid3-hrow-over.gif);
    background-color: #333;
}

.x-dd-drag-proxy .x-grid3-hd-inner {
    background-image: url(../images/slickness/grid/grid3-hrow-over.gif);
}

.x-grid3-locked td.x-grid3-row-marker, .x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker {
    background-image: url(../images/slickness/grid/grid-hrow.gif);
    color: #666;
    border-top: 1px solid #666 !important;
    border-right: 1px solid #000 !important;
}

.x-grid3-hd-btn {
    background-image: url(../images/slickness/grid/grid3-hd-btn.gif);
}

.x-grid3-body .x-grid3-td-expander {
    background-image: url(../images/slickness/grid/grid3-special-col-bg.gif);
}

.x-grid3-body .x-grid3-td-checker {
    background-image: url(../images/slickness/grid/grid3-special-col-bg.gif);
}

.x-grid3-body .x-grid3-td-numberer {
    background-image: url(../images/slickness/grid/grid3-special-col-bg.gif);
}

.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
    background-image: url(../images/slickness/grid/grid3-special-col-sel-bg.gif);
}
.x-grid3-body .x-grid3-td-numberer .x-grid3-cell-inner {
	color:#eee;
}
.x-grid3-hd-row td {
    border-left: 1px solid #555;
    border-right: 1px solid #333;
}

.x-grid3-row-selected {
    background: #ddd !important;
    border: 1px dotted #666;
}

.x-grid-group-hd div {
    color: #223355;
}

.x-grid-group-hd {
    border-color: #333333;
}

.x-grid3-row-checker, .x-grid3-hd-checker {
	 background-image:url(../images/slickness/grid/row-check-sprite.gif);
}

/* Menu */
.x-menu {
    border: 1px solid #000000;
    background-color: #393939!important;
    background-image: url(../images/slickness/menu/menu.gif);
}

.x-menu-sep {
    background-color: #4d4d4d;
    border-bottom: 1px solid #272727;
}

.x-menu-plain {
    background: #393939 !important;
}

.x-menu-item-active {
    background-image: url(../images/slickness/menu/item-over.gif);
    background-color: #3f3f3f;
    border: 1px solid #222222;
}

.x-menu a.x-menu-item {
    color: #eeeeee;
}

.x-cycle-menu .x-menu-item-checked {
    border:1px solid #222 !important;
    background: #414140 url(../images/slickness/menu/item-selected.gif) repeat-x left bottom;
	padding:0;
	/*margin : 1px 0px;*/
}

.x-menu-item-active a.x-menu-item {
    color: #eeeef0;
}

.xg-hmenu-sort-asc .x-menu-item-icon {
    background-image: url(../images/slickness/grid/hmenu-asc.gif);
}

.xg-hmenu-sort-desc .x-menu-item-icon {
    background-image: url(../images/slickness/grid/hmenu-desc.gif);
}

.x-menu-item-icon {
	height: 14px;
	width: 14px;
}

.x-menu-check-item .x-menu-item-icon{
	background-image: url(../images/slickness/menu/unchecked.gif);
}

.x-menu-item-checked .x-menu-item-icon{
	background-image:url(../images/slickness/menu/checked.gif);
}

.x-menu-list-item .x-menu-group-item  .x-menu-item-icon{
	background-image: url(../images/slickness/menu/group-unchecked.gif);
}

.x-menu-item-checked .x-menu-group-item .x-menu-item-icon{
    background-image: url(../images/slickness/menu/group-checked.gif);
}

/* Panel Tools */
.x-tool {
    background-image: url(../images/slickness/panel/header-sprites.gif);
    width: 27px;
    height: 15px;
	margin-top : -4px;
	margin-left : 0px;
}

legend .x-tool {
	margin-top : 0px;
}

.x-tool-close {
    background-position: 0 -0;
}
.x-tool-close-over {
    background-position: -27px 0;
}

.x-tool-minimize {
    background-position: 0 -15px;
}
.x-tool-minimize-over {
    background-position: -27px -15px;
}

.x-tool-maximize {
    background-position: 0 -30px;
}
.x-tool-maximize-over {
    background-position: -27px -30px;
}

.x-tool-restore {
    background-position: 0 -45px;
}
.x-tool-restore-over {
    background-position: -27px -45px;
}

.x-tool-toggle {
    background-position:0 -60px;
}
.x-tool-toggle-over {
    background-position:-27px -60px;
}

.x-panel-collapsed .x-tool-toggle {
    background-position:0 -75px;
}
.x-panel-collapsed .x-tool-toggle-over {
    background-position:-27px -75px;
}

.x-tool-gear {
    background-position:0 -90px;
}
.x-tool-gear-over {
    background-position:-27px -90px;
}

.x-tool-pin {
    background-position:0 -135px;
}
.x-tool-pin-over {
    background-position:-27px -135px;
}

.x-tool-unpin {
    background-position:0 -150px;
}
.x-tool-unpin-over {
    background-position:-27px -150px;
}

.x-tool-right {
    background-position:0 -165px;
}
.x-tool-right-over {
    background-position:-27px -165px;
}

.x-tool-left {
    background-position:0 -180px;
}
.x-tool-left-over {
    background-position:-27px -180px;
}

.x-tool-up {
    background-position:0 -210px;
}
.x-tool-up-over {
    background-position:-27px -210px;
}

.x-tool-down {
    background-position:0 -195px;
}
.x-tool-down-over {
    background-position:-27px -195px;
}

.x-tool-refresh {
    background-position:0 -225px;
}
.x-tool-refresh-over {
    background-position:-27px -225px;
}

.x-tool-minus {
    background-position:0 -255px;
}
.x-tool-minus-over {
    background-position:-27px -255px;
}

.x-tool-plus {
    background-position:0 -240px;
}
.x-tool-plus-over {
    background-position:-27px -240px;
}

.x-tool-search {
    background-position:0 -270px;
}
.x-tool-search-over {
    background-position:-27px -270px;
}

.x-tool-save {
    background-position:0 -285px;
}
.x-tool-save-over {
    background-position:-27px -285px;
}

.x-tool-help {
    background-position:0 -300px;
}
.x-tool-help-over {
    background-position:-27px -300px;
}

.x-tool-print {
    background-position:0 -315px;
}
.x-tool-print-over {
    background-position:-27px -315px;
}

.x-tool-wrench {
    background-position:0 -330px;
}
.x-tool-wrench-over {
    background-position:-27px -330px;
}
/* Layout Tools */
.x-tool-collapse-south {
    background-position:0 -195px;
}
.x-tool-collapse-south-over {
    background-position:-27px -195px;
}

.x-tool-collapse-north {
    background-position:0 -210px;
}
.x-tool-collapse-north-over {
    background-position:-27px -210px;
}

.x-tool-collapse-west {
    background-position:0 -180px;
}
.x-tool-collapse-west-over {
    background-position:-27px -180px;
}

.x-tool-collapse-east {
    background-position:0 -165px;
}
.x-tool-collapse-east-over {
    background-position:-27px -165px;
}


.x-tool-expand-south {
    background-position:0 -210px;
}
.x-tool-expand-south-over {
    background-position:-27px -210px;
}

.x-tool-expand-north {
    background-position:0 -195px;
}
.x-tool-expand-north-over {
    background-position:-27px -195px;
}

.x-tool-expand-west {
    background-position:0 -165px;
}
.x-tool-expand-west-over {
    background-position:-27px -165px;
}

.x-tool-expand-east {
    background-position:0 -180px;
}
.x-tool-expand-east-over {
    background-position:-27px -180px;
}
.x-tool-expand-north, .x-tool-expand-south {
    float:right;
    margin:0px 3px;
}
.x-tool-expand-east, .x-tool-expand-west {
    float:none;
    margin:0px -4px;
}
.x-accordion-hd .x-tool-toggle-over {
    background-position:-27px -255px;
}
.x-panel-collapsed .x-accordion-hd .x-tool-toggle-over {
    background-position:-27px -240px;
}
/* Buttons */
.x-btn-text {
    color: #eeeef0;
    font-weight: bold !important;
}

.x-btn-left {
    background-image: url(../images/slickness/button/btn-sprite.gif);
}

.x-btn-right {
    background-image: url(../images/slickness/button/btn-sprite.gif);
}

.x-btn-center {
    background-image: url(../images/slickness/button/btn-sprite.gif);
}

.x-btn-menu-arrow-wrap .x-btn-center button {
    background-image: url(../images/slickness/button/btn-arrow-light.gif);
}

.x-btn-with-menu .x-btn-center em {
    background-image: url(../images/slickness/toolbar/btn-arrow-light.gif);
}

.x-btn-text-icon .x-btn-with-menu .x-btn-center em {
    background-image: url(../images/slickness/toolbar/btn-arrow-light.gif);
}
/* Layout classes */
.x-border-layout-ct {
    background: #ddd; /* f1f2f4 */
}

.x-accordion-hd {
    background-image: url(../images/slickness/panel/light-hd.gif);
}

.x-layout-collapsed {
    background-color: #222222;
    border-color: #000000;
}

.x-layout-collapsed-over {
    background-color: #444444;
}
/* qtips */
.x-tip .x-tip-close {
    background-image: url(../images/slickness/qtip/close.gif);
}

.x-tip .x-tip-tc {
    background-image: url(../images/slickness/qtip/tip-sprite.gif);
}

.x-tip .x-tip-tl {
    background-image: url(../images/slickness/qtip/tip-sprite.gif);
}

.x-tip .x-tip-tr {
    background-image: url(../images/slickness/qtip/tip-sprite.gif);
}

.x-tip .x-tip-bc {
    background-image: url(../images/slickness/qtip/tip-sprite.gif);
}

.x-tip .x-tip-bl {
    background-image: url(../images/slickness/qtip/tip-sprite.gif);
}

.x-tip .x-tip-br {
    background-image: url(../images/slickness/qtip/tip-sprite.gif);
}

.x-tip .x-tip-ml {
    background-image: url(../images/slickness/qtip/tip-sprite.gif);
}

.x-tip .x-tip-mr {
    background-image: url(../images/slickness/qtip/tip-sprite.gif);
}

.x-tip .x-tip-header-text {
    color: #eeeef0;
}

.x-tip .x-tip-body {
    color: #eeeeee;
}

.x-form-invalid-icon {
    background-image: url(../images/slickness/form/exclamation.gif);
}

.x-form-invalid-tip .x-tip-tc {
    background-image: url(../images/slickness/form/error-tip-corners.gif);
}

.x-form-invalid-tip .x-tip-tl {
    background-image: url(../images/slickness/form/error-tip-corners.gif);
}

.x-form-invalid-tip .x-tip-tr {
    background-image: url(../images/slickness/form/error-tip-corners.gif);
}

.x-form-invalid-tip .x-tip-bc {
    background-image: url(../images/slickness/form/error-tip-corners.gif);
}

.x-form-invalid-tip .x-tip-bl {
    background-image: url(../images/slickness/form/error-tip-corners.gif);
}

.x-form-invalid-tip .x-tip-br {
    background-image: url(../images/slickness/form/error-tip-corners.gif);
}

.x-form-invalid-tip .x-tip-ml {
    background-image: url(../images/slickness/form/error-tip-corners.gif);
}

.x-form-invalid-tip .x-tip-mr {
    background-image: url(../images/slickness/form/error-tip-corners.gif);
}
.x-form-invalid-tip .x-tip-body {
    background-image: url(../images/slickness/form/exclamation.gif);
}
/* Toolbars */
.x-toolbar {
    border-color: #444444;
    background: #282828 url(../images/slickness/toolbar/bg.gif) repeat-x top left;
}

.x-toolbar button {
    color: #eeeef0;
}

.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button {
    background-image: url(../images/slickness/toolbar/btn-arrow-light.gif);
}

.x-toolbar .x-btn-text-icon .x-btn-menu-arrow-wrap .x-btn-center button {
    background-image: url(../images/slickness/toolbar/btn-arrow-light.gif);
}

.x-toolbar .x-btn-over .x-btn-left {
    background-image: url(../images/slickness/toolbar/tb-btn-sprite.gif);
}

.x-toolbar .x-btn-over .x-btn-right {
    background-image: url(../images/slickness/toolbar/tb-btn-sprite.gif);
}

.x-toolbar .x-btn-over .x-btn-center {
    background-image: url(../images/slickness/toolbar/tb-btn-sprite.gif);
}

.x-toolbar .x-btn-over button {
    color: #333333;
}

.x-toolbar .x-btn-click .x-btn-left, .x-toolbar .x-btn-pressed .x-btn-left, .x-toolbar .x-btn-menu-active .x-btn-left {
    background-image: url(../images/slickness/toolbar/tb-btn-sprite.gif);
}

.x-toolbar .x-btn-click .x-btn-right, .x-toolbar .x-btn-pressed .x-btn-right, .x-toolbar .x-btn-menu-active .x-btn-right {
    background-image: url(../images/slickness/toolbar/tb-btn-sprite.gif);
}

.x-toolbar .x-btn-click .x-btn-center, .x-toolbar .x-btn-pressed .x-btn-center, .x-toolbar .x-btn-menu-active .x-btn-center {
    background-image: url(../images/slickness/toolbar/tb-btn-sprite.gif);
}

.x-toolbar .ytb-sep {
    background-image: url(../images/slickness/grid/grid-split.gif);
}

.x-paging-info, .ytb-text {
    color: #eeeef0;
}
/* Form */
.x-form-field-wrap .x-form-trigger {
    background-image: url(../images/slickness/form/trigger.gif);
    border-bottom: 1px solid #a3a3a3;
}

.x-form-field-wrap .x-form-date-trigger {
    background-image: url(../images/slickness/form/date-trigger.gif);
}

.x-form-field-wrap .x-form-clear-trigger {
    background-image: url(../images/slickness/form/clear-trigger.gif);
}

.x-form-field-wrap .x-form-search-trigger {
    background-image: url(../images/slickness/form/search-trigger.gif);
}

.x-form-text, textarea.x-form-field 
{
    background-color:#000000!important;
    color: #FFFFFF!important;
    background-image: none !important;
    /*background-image:url(../images/gray-extend/form/text-bg.gif);*/
    border: 1px solid #a3a3a3;
}

.x-form-select-one {
    border: 1px solid #a3a3a3;
}

.x-item-disabled .x-form-trigger-over {
    border-bottom: 1px solid #a3a3a3;
}

.x-item-disabled .x-form-trigger-click {
    border-bottom: 1px solid #a3a3a3;
}

.x-form fieldset {
    border: 1px solid #a3a3a3;
}

.x-form-item-label{
	color : #eee;
}

.x-trigger-wrap-focus .x-form-trigger {
    border-bottom: 1px solid #eee;
}

.x-form-focus, textarea.x-form-focus {
    border: 1px solid #eee;
}
/* Tabs */
.x-tab-panel-header, .x-tab-panel-footer {
    background: #000000;
    border-color: #4a4a4a;
}

.x-tab-panel-header {
    border-color: transparent;
}

.x-tab-panel-footer {
    border-color: #4a4a4a;
}

ul.x-tab-strip-top {
    background: #000000 url(../images/slickness/tabs/tab-strip-bg.gif) repeat-x left top;
    border-color: #4a4a4a;
}

ul.x-tab-strip-bottom {
    background-image: url(../images/slickness/tabs/tab-strip-btm-bg.gif);
    border-color: #4a4a4a;
}

.x-tab-strip span.x-tab-strip-text {
    color: #cccccc;
}

.x-tab-strip-over span.x-tab-strip-text {
    color: #ffffff;
}

.x-tab-strip-active span.x-tab-strip-text {
    color: #eeeef0;
}

.x-tab-strip-top .x-tab-right {
    background-image: url(../images/slickness/tabs/tabs-sprite.gif);
}

.x-tab-strip-top .x-tab-left {
    background-image: url(../images/slickness/tabs/tabs-sprite.gif);
}

.x-tab-strip-top .x-tab-strip-inner {
    background-image: url(../images/slickness/tabs/tabs-sprite.gif);
}

.x-tab-strip-bottom .x-tab-right {
    background-image: url(../images/slickness/tabs/tab-btm-inactive-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-left {
    background-image: url(../images/slickness/tabs/tab-btm-inactive-left-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
    background-image: url(../images/slickness/tabs/tab-btm-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
    background-image: url(../images/slickness/tabs/tab-btm-left-bg.gif);
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
    background-image: url(../images/slickness/tabs/tab-close.gif);
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover {
    background-image: url(../images/slickness/tabs/tab-close.gif);
}

.x-tab-panel-body {
    border-color: #4a4a4a;
    background: #eeeeee;
}

.x-tab-panel-bbar .x-toolbar {
    border-color: #000000;
}

.x-tab-panel-tbar .x-toolbar {
    border-color: #000000;
}

.x-tab-panel-header-plain .x-tab-strip-spacer {
    border-color: #000000;
    background: #353535;
}

.x-tab-scroller-left {
    background-image: url(../images/slickness/tabs/scroll-left.gif);
    border-color: #000000;
}

.x-tab-scroller-right {
    background-image: url(../images/slickness/tabs/scroll-right.gif);
    border-color: #000000;
}
/* Window */
.x-window-proxy {
    background: #161616;
    border-color: #000000;
}

.x-window-tl .x-window-header {
    color: #eeeef0;
}

.x-window-tc {
    background-image: url(../images/slickness/window/top-bottom.png);
}

.x-window-tl {
    background-image: url(../images/slickness/window/left-corners.png);
}

.x-window-tr {
    background-image: url(../images/slickness/window/right-corners.png);
}

.x-window-bc {
    background-image: url(../images/slickness/window/top-bottom.png);
}

.x-window-bl {
    background-image: url(../images/slickness/window/left-corners.png);
}

.x-window-br {
    background-image: url(../images/slickness/window/right-corners.png);
}

.x-window-mc {
    border: 1px solid #333333;
    background: #454545;
    color: #eeeeee;
}

.x-window-ml {
    background-image: url(../images/slickness/window/left-right.png);
}

.x-window-mr {
    background-image: url(../images/slickness/window/left-right.png);
}

.x-panel-ghost .x-window-tl {
    border-color: #666666;
}

.x-panel-collapsed .x-window-tl {
    border-color: #666666;
}

.x-window-plain .x-window-mc {
    color: #eeeeee;
    background: #222222;
    border-left: 1px solid #111111;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #222222;
    border-right: 1px solid #222222;
}

.x-window-plain .x-window-body {
    border-left: 1px solid #555555;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    background: transparent !important;
}

body.x-body-masked .x-window-mc, body.x-body-masked .x-window-plain .x-window-mc {
    color: #eeeeee;
    background-color: #272727;
}
/* Date Picker */
.x-date-picker {
    border: 1px solid #000000;
    background: #ffffff;
}

.x-date-middle, .x-date-left, .x-date-right {
    background-image: url(../images/slickness/shared/hd-sprite.gif);
}

.x-date-middle .x-btn-with-menu .x-btn-center em {
    background-image: url(../images/slickness/toolbar/btn-arrow-light.gif);
}

.x-date-right a {
    background-image: url(../images/slickness/shared/right-btn.gif);
}

.x-date-left a {
    background-image: url(../images/slickness/shared/left-btn.gif);
}

.x-date-inner th {
    background-image: url(../images/slickness/shared/glass-bg.gif);
    border-bottom: 1px solid #000000;
    color: #eeeef0;
}

.x-date-inner .x-date-selected a {
    background-image: url(../images/slickness/shared/glass-bg.gif);
    border: 1px solid #000000;
    color: #eeeef0;
}

.x-date-bottom {
    border-top: 1px solid #000000;
    background-image: url(../images/slickness/shared/glass-bg.gif);
}

.x-date-mp-btns {
    background-image: url(../images/slickness/shared/glass-bg.gif);
}

td.x-date-mp-sel a {
    background-image: url(../images/slickness/shared/glass-bg.gif);
    border: 1px solid #000000;
    color: #eeeef0 !important;
}

.x-date-mp-ybtn a {
    background-image: url(../images/slickness/panel/tool-sprites.gif);
}

.x-date-mp-btns button {
    background-image: url(../images/slickness/shared/glass-bg.gif);
    border-color: #eeeeee #bbbbbb #bbbbbb #eeeeee;
    color: #eeeef0;
}

.x-date-inner a {
    color: #000000;
}

.x-date-inner a:hover, .x-date-inner .x-date-disabled a:hover {
    color: #eeeef0;
    background: #353535;
}

td.x-date-mp-month a, td.x-date-mp-year a {
    color: #000000;
}

td.x-date-mp-month a:hover, td.x-date-mp-year a:hover {
    color: #eeeef0;
    background: #353535;
}
/* misc */
.x-html-editor-wrap {
    border-color: #000000;
}
/* Editor */
.x-html-editor-tb .x-btn-text {
    background: transparent url(../images/slickness/editor/tb-sprite.gif) no-repeat;
}
/* FieldSet*/
.x-fieldset-header-text {
    color: #eeeeee;
}
/* Borders go last for specificity */
.x-panel-noborder .x-panel-body-noborder {
    border-width: 0;
}

.x-panel-noborder .x-panel-header-noborder {
    border-width: 0;
    border-bottom: 1px solid #000000;
}

.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-width: 0;
    border-bottom: 1px solid #000000;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border-width: 0;
    border-top: 1px solid #000000;
}

.x-window-noborder .x-window-mc {
    border-width: 0;
}

.x-window-plain .x-window-body-noborder {
    border-width: 0;
}

.x-tab-panel-noborder .x-tab-panel-body-noborder {
    border-width: 0;
}

.x-tab-panel-noborder .x-tab-panel-header-noborder {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.x-tab-panel-noborder .x-tab-panel-footer-noborder {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.x-tab-panel-bbar-noborder .x-toolbar {
    border-width: 0;
    border-top: 1px solid #000000;
}

.x-tab-panel-tbar-noborder .x-toolbar {
    border-width: 0;
    border-bottom: 1px solid #000000;
}

/* Progress Bar*/
.x-progress-wrap {
    border:1px solid #4c4c4c;
}
.x-progress-inner {
    background: #2d2d2d url(../images/slickness/progress/progress-bg.gif) repeat-x;
}
.x-progress-bar {
    height:18px;
    background:transparent url( ../images/slickness/progress/progress-ind.gif ) repeat-x left center;
    border: none;
}
.x-progress-text {
    color:#000;
}
.x-progress-text-back {
    color:#eee;
}

/* Dialog */
.x-window-dlg .ext-mb-icon {
    float:left;
    width:58px;
    height:48px;
}
.ext-ie .x-window-dlg .ext-mb-icon {
    width:55px; /* 3px IE margin issue */
}

.x-window-dlg .ext-mb-info {
    background:transparent url(../images/slickness/window/icon-info.gif) no-repeat top left;
}
.x-window-dlg .ext-mb-warning {
    background:transparent url(../images/slickness/window/icon-warning.gif) no-repeat top left;
}
.x-window-dlg .ext-mb-question {
    background:transparent url(../images/slickness/window/icon-question.gif) no-repeat top left;
}
.x-window-dlg .ext-mb-error {
    background:transparent url(../images/slickness/window/icon-error.gif) no-repeat top left;
}

/* Combo */
.x-combo-list {
    border:1px solid #333;
    background:#ddd;
}

.x-combo-list-item
{
    border-color:#000000;
}

.x-combo-list-inner
{
    background-color: #000000;
    color: #eeeef0;
}
.x-resizable-pinned .x-combo-list-inner {
    border-bottom:1px solid #333 !important;
}
.x-combo-list .x-combo-selected{
	/*border:1px dotted #888 !important;*/
    background:#333333;
    color: #FFFFFF;
}

.x-combo-noedit{
    cursor:pointer;
}
.x-combo-list .x-toolbar {
    border-top:1px solid #333;
}

.x-tree-node, .x-tree-node a span, .x-dd-drag-ghost a span{
	color:#eeeef0!important;
}

.x-tree-node-over, .x-tree-node-over a span
{
    color:#000000!important;
}

.x-panel-bwrap 
{
    color:#eeeef0!important;
    background-color: #000000!important;
}

.header-content, #header-content
{
    color: #eeeef0;    
}

p.MsoNormal, li.MsoNormal, div.MsoNormal 
{
    color: #eeeef0 !important;
}

#menu-principal,
#menu-usuario,
#status-bar,
#layout-esquerda .x-panel-bbar
{
	background-color: #000000 !important;
	background-image: none !important;
	border: none !important;
	border-width: 0px !important;
}

body {
	background-color: #000000 !important;
}

.img-logo
{
    background: url(../images/slickness/logo_185x50-slickness.png) no-repeat !important;
    width: 185px;
    height: 50px;
}