﻿<%@ Page Language="C#" MasterPageFile="~/Views/Shared/Interna.Master" Inherits="System.Web.Mvc.ViewPage" %>
<asp:Content runat="server" ID="HeadContent" ContentPlaceHolderID="HeadContent">
<script type="text/javascript" language="javascript">

</script>
</asp:Content>

<asp:Content runat="server" ID="Content2" ContentPlaceHolderID="Content">
       <div id="header-content">
             <h1>Painel Expedição</h1>
		    <small>Index</small>
		<br />
       </div>
</asp:Content>