* { margin: 0; padding: 0; }

body {
	font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	/*background-color: #FFFFFF !important;*/
}

.hide,
.loading
{
	display: none;
}

.button-primary
{
	min-width:0;
	margin:0;
	cursor:pointer;
	line-height:16px;
	padding: 2px 8px;
	text-decoration:none;
	
	border: none;
	font-weight: bold;
	color: #FFF !important;
	background: #B61000 url(../Images/button-grad.png) repeat-x scroll left top;
}

.button-primary:active
{
	background: #21759b url(../Images/button-grad-active.png) repeat-x scroll left top !important;
}

.img-logo
{
    background: url(../Images/logo_185x50.png) no-repeat;
    width: 185px;
    height: 50px;
}