﻿*, :focus
{
    outline: none;
}
.clear
{
    clear: both;
}
.obraIcon
{
    width: 90px;
    background: url(../Images/obra.png) no-repeat center 10px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin: 8px 0 0 8px;
    padding: 76px 7px 7px 7px;
    font-size: 10px;
    color: #434343;
    cursor: pointer;
    text-align: center;
    float: left;
    display: block;
    text-decoration: none;
}
.porcentoKm
{
    display: block;
    height: 5px;
    width: 100px;
    background: url(../Images/white.gif) #ee1c24 repeat-y;
    border: 1px solid #ee1c24;
}
.porcentoValor
{
    display: block;
    height: 5px;
    width: 100px;
    background: url(../Images/white.gif) #0054a6 repeat-y;
    border: 1px solid #0054a6;
}
.obraNovo
{
    width: 90px;
    background: url(../Images/obra_new.png) no-repeat;
    background-position: 14px 10px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin: 8px 0 0 8px;
    padding: 76px 7px 7px 7px;
    font-size: 10px;
    color: #434343;
    cursor: pointer;
    text-align: center;
    float: left;
    display: block;
    text-decoration: none;
}
.obraNovo:hover
{
    background-position: -89px 10px;
}
.obraIcon:hover, .obraNovo:hover
{
    border: 1px solid #dddddd;
    background-color: #efefef;
}
.obraIcon:active, .obraNovo:active
{
    border: 1px solid #9a9a9a;
    background-color: #f4f4f4;
}
.breadcrumbs
{
    list-style: none;
    overflow: hidden;
    height: 17px;
}
.breadcrumbs li
{
    float: left;
    padding: 0 5px;
}
.breadcrumbs li a
{
    text-decoration: none;
    color: #434343;
}
.breadcrumbs li a:hover
{
    text-decoration: underline;
}
.separador
{
    width: 5px;
    height: 17px;
    background: url(../Images/breadcrumbs.gif) no-repeat center;
}
.breadcrumbs .x-panel-body.x-panel-body-noheader.x-panel-body-noborder
{
    display: none;
}
.visualizaDadosItem
{
    clear: left;
    float: left;
    padding: 3px 0;
}
.labelItem
{
    display: block;
    float: left;
    width: 100px;
}
.labelValor
{
    display: block;
    float: left;
    font-weight: bold;
    width: 200px;
}
.mapa
{
    clear: both;
    padding: 10px;
    z-index: 0;
}
#imprimeMapa
{
    height: 400px;
}
.bt_opcoes
{
    background: url(../Images/bk_bt_opcoes.gif) no-repeat;
    background-position: left top;
    width: 75px;
    height: 65px;
    float: right;
    position: relative;
}
.bt_opcoes:hover
{
    background-position: left bottom;
}
.bt_opcoes > a
{
    display: block;
    width: 75px;
    height: 58px;
    padding-top: 7px;
    font-size: 10px;
    color: #434343;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.bt_opcoes a span
{
    background: url(../Javascript/ExtJs/resources/images/gray-extend/button/arrow.gif) no-repeat right center;
    display: block;
    width: 90%;
    margin: 3px 10px 0 0;
}
ul#bt_opcoes
{
    position: absolute;
    top: 102px;
    right: 10px;
    z-index: 9999;
    background: #f3f3f3;
    border: 1px solid #aaaaaa;
    border-top: none;
}
ul#bt_opcoes li
{
    border-top: 1px solid #aaaaaa;
    display: block;
}
ul#bt_opcoes li:hover
{
    background: #dedede;
}
ul#bt_opcoes li a
{
    display: block;
    padding: 5px;
    color: #434343;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    padding-left: 25px;
    background: url(../Images/Icons/pencil.gif) no-repeat 5px center;
}
.fixedColumn table, .fixedContainer table
{
    border-spacing: 0;
}

.HeadqtdePrev
{
    width: 80px !important;
    color: #000000;
    font: 11px arial,tahoma,helvetica,sans-serif;
    overflow: hidden;
    padding-left: 5px;
    white-space: nowrap;
    background: url(     "../Javascript/ExtJs/resources/images/default/grid/grid3-hrow.gif" ) repeat-x scroll 0 bottom #F9F9F9;
    cursor: default;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #D0D0D0;
}
.HeadItem
{
    width: 275px !important;
    color: #000000;
    font: 11px arial,tahoma,helvetica,sans-serif;
    overflow: hidden;
    padding-left: 5px;
    white-space: nowrap;
    background: url(     "../Javascript/ExtJs/resources/images/default/grid/grid3-hrow.gif" ) repeat-x scroll 0 bottom #F9F9F9;
    cursor: default;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #D0D0D0;
}
.fixedContainer .fixedTable .FixedTables tbody tr td
{
    text-align: center;
}
.soNumeros
{
    margin-left: -3px;
    border: none;
    height: 13px;
    padding-left: 2px;
}
td .soNumeros
{
    border: solid 1px black;
}
.fixedArea table tr
{
    height: 21px;
}
.fixedArea table td
{
    margin: 0 !important;
    padding: 0!important;
    height: 15px !important;
}
.qtdePrev
{ *width:auto!important;
}
#tabelaProgramacao td
{ *width:56px!important;
}

#tabelaProgramacao td input
{ *width:95%!important;
}
.fixedArea table
{
    cellspacing: 0;
    cellpadding: 0;
    cellcollapse: 0;
    collapse: collapse;
    border-collapse: collapse;
}

.fixedHead td, .fixedFoot td
{
    color: #000000;
    font: 11px arial,tahoma,helvetica,sans-serif;
    overflow: hidden;
    padding: 3px 3px 3px 5px;
    white-space: nowrap;
    background: url(     "../Javascript/ExtJs/resources/images/default/grid/grid3-hrow.gif" ) repeat-x scroll 0 bottom #F9F9F9;
    cursor: default;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #D0D0D0;
}
.fixedTable tr
{
    border-color: #FFFFFF #EDEDED #EDEDED;
    font-size: 11px;
    font-family: arial,tahoma,helvetica,sans-serif;
}
.fixedTable td
{
    padding: 2px 3px 2px 5px;
}
.fixedTable tr.odd
{
    background-color: #FAFAFA;
}
.drillTable
{
    float: left;
    border: 1px solid #D0D0D0;
}
.fixedContainer
{
    border-left: 1px solid #D0D0D0;
}
.fixedContainer .fixedTable
{
    overflow: scroll !important;
}
.drillClick
{
    background-image: url(    "../Javascript/ExtJs/resources/images/gray-extend/panel/white-top-bottom.gif" );
    background-position: 0 -1px;
    color: #434343;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}
.drillFirst
{
    background-image: url(    "../Javascript/ExtJs/resources/images/default/tree/elbow.gif" );
    background-repeat: no-repeat;
    padding-left: 30px !important;
    background-position: 0 0;
    _background-position: 0;
}
.drillFirst.drillLast
{
    background-image: url(    "../Javascript/ExtJs/resources/images/default/tree/elbow-end.gif" );
    background-position: 10px 0;
}
.drill
{
    background-image: url(    "../Javascript/ExtJs/resources/images/default/tree/elbow-end-minus-nl.gif" ); 
    *background-image:url( "../Javascript/ExtJs/resources/images/default/tree/end-minus-nl.png")!important;
    _background-image:url( "../Javascript/ExtJs/resources/images/default/tree/end-minus-nl.png")!important;
    background-repeat:no-repeat;
    *background-position:0 0 !important;
    padding-left:18px!important;
}
.drill.drillMais
{
    background-image: url(    "../Javascript/ExtJs/resources/images/default/tree/elbow-end-plus-nl.gif" ); 
    *background-image:url( "../Javascript/ExtJs/resources/images/default/tree/end-plus-nl.png")!important;
    _background-image:url( "../Javascript/ExtJs/resources/images/default/tree/end-plus-nl.png")!important;
    background-position:00;
}
.FixedTables a.OK
{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url(../Images/Icons/accept.gif);
    text-indent: -9999px;
    cursor: pointer;
}
.FixedTables a.No
{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url(../Images/Icons/delete.gif);
    text-indent: -9999px;
    cursor: pointer;
}
.FixedTables input
{
    float: left;
    width: 100%;
    font-size: 11px;
    font-family: arial,tahoma,helvetica,sans-serif;
}

.fixedHeadEVA .tabelaCss th
{
    width:150px;
}

.fixedHeadEVA th
{
    padding:0;
    white-space:nowrap;
}

.tabelaCss tr
{
    font-size: 11px;
    font-family: arial,tahoma,helvetica,sans-serif;
}
.tabelaCss th
{
    height:11px;
    color: #000000;
    font: 11px arial,tahoma,helvetica,sans-serif;
    overflow: hidden;
    padding:0px 0px 0px 0px;
    background: url(     "../Javascript/ExtJs/resources/images/default/grid/grid3-hrow.gif" ) repeat-x scroll 0 bottom #F9F9F9;
    cursor: default;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #D0D0D0;
}
.tabelaCss td
{
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #EDEDED;
}

.tabelaCss .Codigo
{
    width:45px!important;
}
.tabelaCss .Itens
{
    width:355px!important;
}
.tabelaCss .PU
{
    width:70px!important;
}
.tabelaCss .UD
{
    width:30px!important;
}

.tabelaCss tr.odd
{
    background-color: #FAFAFA;
}
.tabelaCss caption
{
    background-image: url(    "../Javascript/ExtJs/resources/images/gray-extend/panel/white-top-bottom.gif" );
    background-position: 0 -1px;
    color: #434343;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
}
#grafico
{
    float: left;
}
.y
{
    float: left;
    height: 298px;
    width: 50px;
    border: 1px solid #CCC;
    border-right: none;
    position: relative;
    margin-left: 10px;
}
.x
{
    clear: both;
    width: 90%;
    height: 25px;
    margin-left: 60px;
    border: 1px solid #CCC;
    border-top: none;
    position: relative;
}
.y div
{
    margin: 0 0 6px 0; /*padding: 58px 5px;*/
    width: 40px;
}
.x div
{
    /*margin:0 5px 0 0;*/
    width: 100%;
    height: 15px !important;
    padding: 5px 0 !important;
}
.y div.primeiro
{
    background: #00b8bf;
}
.y div.ultimo
{
    background: #d1161d;
}
.optionBase
{
    clear: both;
    height: 25px;
    width: 90%;
    margin: 5px 15px 10px 15px;
}
.options
{
    width: 80px;
    padding: 5px;
    float: left;
    overflow: hidden;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: move;
    background: #e7e7e7;
}
.ui-draggable-dragging
{
    width: 80px !important; /*height: 15px !important;*/
    background: #e7e7e7 !important;
    z-index: 999; /*padding:5px !important;*/
}
.optionBase div
{
    margin-right: 5px;
}

.respostaGrafico
{
    margin-bottom: 10px;
}
.respostaGrafico p
{
    line-height: 40px;
    padding-left: 15px;
}
.respostaGrafico p.alert
{
    background-color: #FEEFB3;
    color: #9F6000;
}

.x-grid3-cell-inner
{
    font-family: "segoe ui" , tahoma, arial, sans-serif;
}
.x-grid-group-hd div
{
    font-family: "segoe ui" , tahoma, arial, sans-serif;
}
.x-grid3-hd-inner
{
    font-family: "segoe ui" , tahoma, arial, sans-serif;
    font-size: 12px;
}
.x-grid3-body .x-grid3-td-Cost
{
    background-color: #f1f2f4;
}
.x-grid3-summary-row .x-grid3-td-Cost
{
    background-color: #e1e2e4;
}
.legenda
{
    height: 25px;
}
.legenda div
{
    width: 150px;
    float: left;
}
.legenda div div
{
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 4px;
}
.legenda div div.legConcluido
{
    background-color: #0000FF;
}
.legenda div div.legEmAndamento
{
    background-color: #00DD00;
}
.legenda div div.legPendente
{
    background-color: #FFFF00;
}
.legenda div div.legBloqueado
{
    background-color: #FF0000;
}
