.icon-warning {
	background-image:url(../Images/Icons/note_error.png) ! important;
}

.icon-accept {
	background-image:url(../Images/Icons/accept.png) ! important;
}

.icon-cancel {
	background-image:url(../Images/Icons/cancel.png) ! important;
}

.icon-page {
	background-image:url(../Images/Icons/page.png) ! important;
}

.icon-page-red {
	background-image:url(../Images/Icons/page_red.png) ! important;
}

.icon-book-open {
	background-image:url(../Images/Icons/book_open.png) ! important;
}

.icon-transferirParada {
	background-image:url(../Images/Icons/page_go.png) ! important;
}

.icon-xml {
	background-image:url(../Images/Icons/xml.png) ! important;
}

.icon-pdf {
	background-image:url(../Images/Icons/pdf.png) ! important;
}

.icon-fichaAcidente {
	background-image:url(../Images/Icons/application_error.png) ! important;
}

.icon-addPrevisao {
	background-image:url(../Images/Icons/clock_add.png) ! important;
}

.icon-addFicha {
	background-image:url(../Images/Icons/application_add.png) ! important;
}

.icon-del {
	background-image:url(../Images/Icons/cross.gif) ! important;
}

.icon-tremPartida {
	background-image:url(../Images/Icons/date_go.png) ! important;
}

.icon-tremAcidente {
	background-image:url(../Images/Icons/application_error.png) ! important;
}

.icon-new {
	background-image:url(../Images/Icons/add.gif) ! important;
}

.icon-edit {
	background-image:url(../Images/Icons/pencil.gif) ! important;
}

.icon-AppEdit {
	background-image:url(../Images/Icons/application_form_edit.gif) ! important;
}

.icon-go {
	background-image:url(../Images/Icons/arrow_right.gif) ! important;
}

.icon-house {
	background-image:url(../Images/Icons/house.gif) ! important;
}

.icon-tab-nova {
	background-image:url(../Images/Icons/tab_add.gif) ! important;
}

.icon-door-in {
	background-image:url(../Images/Icons/door_in.gif) ! important;
}

.icon-user {
	background-image:url(../Images/Icons/user.gif) ! important;
}

.icon-detail
{
	background-image:url(../Images/Icons/zoom.gif) ! important;
}

.icon-find
{
	background-image:url(../Images/Icons/find.gif) ! important;
}

.icon-calendar
{
	background-image:url(../Images/Icons/calendar.gif) ! important;
}

.icon-loading
{
	background-image:url(../Images/loading.gif) ! important;
}

.icon-page-add
{
	background-image:url(../Images/Icons/page_add.png) ! important;
}

.icon-pt-BR
{
	background-image:url(../Images/Icons/pt-BR.png) ! important;
	width: 16px;
	height:11px;
}

.icon-es-ES
{
	background-image:url(../Images/Icons/es-ES.png) ! important;
	width: 16px;
	height:11px;
}

.icon-es-AR
{
	background-image:url(../Images/Icons/es-AR.png) ! important;
	width: 16px;
	height:11px;
}

.icon-en-US
{
	background-image:url(../Images/Icons/en-US.png) ! important;
}

.icon-comments
{
	background-image:url(../Images/Icons/comments.gif) ! important;
}

.statusbar-icon-clock
{
	background-image:url(../Images/Icons/clock.gif) ! important;
	background-repeat:no-repeat;
	padding-left: 20px !important;
}

.statusbar-icon-user
{
	background-image:url(../Images/Icons/user.gif)! important;
	background-repeat:no-repeat;
	padding-left: 20px !important;
}

.statusbar-icon-server
{
	background-image:url(../Images/Icons/server_link.png)! important;
	background-repeat:no-repeat;
	padding-left: 20px !important;
	line-height: 20px;
	height: 20px;
}

.statusbar-icon-calendar
{
	background-image:url(../Images/Icons/calendar.gif)! important;
	background-repeat:no-repeat;
	padding-left: 20px !important;
	line-height: 20px;
	height: 20px;
}


.icon-group-add
{
	background-image:url(../Images/Icons/group_add.png) ! important;
}

.icon-map-giz
{
	background-image:url(../Images/Icons/map_magnify.png) ! important;
}

.icon-manual-translogic 
{
    background-image:url(../Images/Icons/book_open.png) ! important;
}

.icon-film
{
	background-image:url(../Images/Icons/film.png) ! important;
}

.icon-cog
{
	background-image:url(../Images/Icons/cog.png) ! important;
}

.icon-cog-go
{
	background-image:url(../Images/Icons/cog_go.png) ! important;
}

.icon-page-excel
{
	background-image:url(../Images/Icons/page_excel.png) ! important;
}

.icon-save
{
	background-image:url(../Images/Icons/bullet_disk.png) ! important;
	background-repeat:no-repeat;
	padding-left: 20px !important;
}

.icon-folder-explore
{
	background-image:url(../Images/Icons/folder_explore.png) ! important;
}

.icon-folder
{
	background-image:url(../Images/Icons/folder.png) ! important;
}


.icon-link-attend {
	background-image:url(../Images/Icons/attach.png) ! important;
}

.icon-new-attend {
	background-image:url(../Images/Icons/add.gif) ! important;
}

.icon-response-attend {
	background-image:url(../Images/Icons/page_white_go.png) ! important;
}

.icon-page-white
{
	background-image:url(../Images/Icons/page_white_text.png) ! important;
}

.icon-chart
{
	background-image:url(../Images/Icons/chart_line.png) ! important;
}

.icon-left
{
	background-image:url(../Images/Icons/arrow_left.png) ! important;
}

.icon-right
{
	background-image:url(../Images/Icons/arrow_right.png) ! important;
}
.icon-up
{
	background-image:url(../Images/Icons/arrow_up.png) ! important;
}
.icon-down
{
	background-image:url(../Images/Icons/arrow_down.png) ! important;
}
.icon-report
{
	background-image:url(../Images/Icons/report.png) ! important;
}
.icon-cut
{
	background-image:url(../Images/Icons/cut.png) ! important;
}
.icon-obra-peq
{
	background-image:url(../Images/Icons/obra_peq.png) ! important;
}
.icon-printer
{
	background-image:url(../Images/Icons/printer.png) ! important;
}
.icon-printer-error
{
	background-image:url(../Images/Icons/printer_error.png) ! important;
}
.icon-arrow_refresh
{
	background-image:url(../Images/Icons/arrow_refresh.png) ! important;
}
.icon-arrow_redo_yellow
{
	background-image:url(../Images/Icons/arrow_redo_yellow.png) ! important;
}

.icon-arrow_redo
{
	background-image:url(../Images/Icons/arrow_redo.png) ! important;
}

.icon-tick
{
	background-image:url(../Images/Icons/tick.png) ! important;
}
.icon-email_go
{
	background-image:url(../Images/Icons/email_go.png) ! important;
}
.icon-database_refresh
{
	background-image:url(../Images/Icons/database_refresh.png) ! important;
}
.icon-lock_edit
{
	background-image:url(../Images/Icons/lock_edit.png) ! important;
}
.icon-lock_open
{
	background-image:url(../Images/Icons/lock_open.png) ! important;
}
.icon-delete {
	background-image:url(../Images/Icons/cross.gif) ! important;
}
.icon-deleteCte {
	background-image:url(../Images/Icons/delete.png) ! important;
}
.icon-deleteCte {
	background-image:url(../Images/Icons/lock_edit.png) ! important;
}
.icon-link {
    background-image:url(../Images/Icons/link.png) ! important;
}
.icon-theme-dark
{
    background-image:url(../Images/Icons/bullet_black.png) ! important;
}
.icon-theme-default
{
    background-image:url(../Images/Icons/bullet_white.png) ! important;
}
.icon-bug
{
    background-image:url(../Images/Icons/bug.png) ! important;
}
.icon-loco
{
    background-image:url(../Images/Icons/loco.png) ! important;
}
		.yellow-row{ background-color: #FBF8BF !important; } 
.icon-compress
{
    background-image:url(../Images/Icons/compress.png) ! important;
}
.icon-alert
{
    background-image:url(../Images/Icons/alert.png) ! important;
}
.icon-computer-delete
{
    background-image:url(../Images/Icons/computer_delete.png) ! important;
}
.icon-wrench
{
    background-image:url(../Images/Icons/wrench.png) ! important;
}
.icon-lock_break
{
    background-image:url(../Images/Icons/lock_break.png) ! important;
}
.icon-lock
{
    background-image:url(../Images/Icons/lock.png) ! important;
}
