﻿*
{
    background:none;
    padding:0;
    margin:0;
    font-size:12pt;
    _font-size:6pt!important;
    font-family: arial,tahoma,helvetica,sans-serif!important;
    color: #000000!important;
}
#div-botao, .breadcrumbs
{
    display:none;
}
.tabelaCss caption
{
    font-size:30pt!important;
    _font-size:20pt!important;
    _text-align:left;
    _font-wight:bold;

}
.alinhaDireita
{
    text-align:right;
}
.dataImpressao{
    font-size:12pt!important;
    _font-size:6pt!important;
}
.tabelaCss
{
    font-size:12pt;
    _font-size:6pt!important;
    border:1px solid #000000;
    border-right:none;
    border-collapse:none;
    border-top:none;
}
.tabelaCss th
{
    font-size:18pt;
    _font-size:7pt!important;
    padding: 5px;
    white-space: nowrap;
    font-weight:bold;
    border:none;
    border-right:1px solid #000000!important;
    border-top:1px solid #000000!important;
}
.tabelaCss .NomeDivisao
{
    font-size:18pt !important;
    _font-size:9pt!important;
    padding: 5px;
    white-space: nowrap;
    font-weight:bold;
}
.tabelaCss td
{   
    padding:5px;
    font-size:14pt!important;
    _font-size:6pt!important;
    padding:5px!important;
    border:none;
    height:70px;
    _height:35px;
    border-right:1px solid #000000!important;
    border-top:1px solid #000000!important;
}
.tabelaCss td p 
{
    border:none !important;
}
.semBorda, .semBorda th, .semBorda td
{
    border:none!important;
    font-size:18pt!important;
    _font-size:9pt!important;
}
.semBorda
{
    margin-bottom:30px!important;
}