#login
{
	background-color: #fff;
	margin: 7em auto;
	width: 320px;
}

#login label
{
	font-weight: bold;
}

#login form input 
{
	color: #555555;
}

#info_Usuario,
#info_Senha,
#info_SenhaNova,
#info_SenhaNovaConfirmacao,
#info_Idioma
{
	background: #FBFBFB none repeat scroll 0 0;
	border: 1px solid #D8D8D8;
	font-size: 24px;
	margin: 2px 6px 16px 0px;
	padding: 3px;
	width: 275px;
}

#info_Idioma
{
	width: 284px;
}

#login form 
{
	padding: 16px;
	font-weight: normal;
	background: #fff;
	border: 1px solid #D8D8D8;
}

A,
A:active,
A:visited,
A:link,
A:hover
{
	color: Blue;
	text-decoration: none;
}

A:hover
{
	text-decoration: underline;
}