.message.info, 
.message.success, 
.message.warning, 
.message.error, 
.message.validation,
.validation-summary-errors
{
	font-weight: bold;
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.message.info
{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../Images/Messages/info.gif');
}

.message.success
{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../Images/Messages/success.gif');
}

.message.warning
{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../Images/Messages/warning.gif');
}

.message.error
{
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../Images/Messages/error.gif');
}

.message.validation,
.validation-summary-errors 
{
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('../Images/Messages/error.gif');
}

UL.validation-summary-errors
{
	list-style-type: none;
}
