﻿.vagao-01 {
	background-image:url(../Images/TipoVagao/vagao1.gif) ! important;
}
.vagao-02 {
	background-image:url(../Images/TipoVagao/vagao2.gif) ! important;
}
.vagao-03 {
	background-image:url(../Images/TipoVagao/vagao3.gif) ! important;
}
.vagao-04 {
	background-image:url(../Images/TipoVagao/vagao4.gif) ! important;
}
.vagao-05 {
	background-image:url(../Images/TipoVagao/vagao5.gif) ! important;
}
.vagao-06 {
	background-image:url(../Images/TipoVagao/vagao6.gif) ! important;
}
.vagao-07 {
	background-image:url(../Images/TipoVagao/vagao7.gif) ! important;
}
.vagao-08 {
	background-image:url(../Images/TipoVagao/vagao8.gif) ! important;
}
.vagao-09 {
	background-image:url(../Images/TipoVagao/vagao9.gif) ! important;
}
.vagao-10 {
	background-image:url(../Images/TipoVagao/vagao10.gif) ! important;
}
.vagao-11 {
	background-image:url(../Images/TipoVagao/vagao11.gif) ! important;
}
.vagao-12 {
	background-image:url(../Images/TipoVagao/vagao12.gif) ! important;
}
.vagao-13 {
	background-image:url(../Images/TipoVagao/vagao13.gif) ! important;
}
.vagao-14 {
	background-image:url(../Images/TipoVagao/vagao14.gif) ! important;
}
.vagao-pass {
	background-image:url(../Images/TipoVagao/vagaopass.gif) ! important;
}
.vagao-cur {
	background-image:url(../Images/TipoVagao/vagao_cur.gif) ! important;
}
.vagao-cur-buraco {
	background-image:url(../Images/TipoVagao/vagao_cur_buraco.gif) ! important;
}
.vagao-cur-cm {
	background-image:url(../Images/TipoVagao/vagao_cur_cm.gif) ! important;
}
.vagao-cur-drop {
	background-image:url(../Images/TipoVagao/vagao_cur_drop.gif) ! important;
}
.vagao-cur-drop-buraco {
	background-image:url(../Images/TipoVagao/vagao_cur_drop_buraco.gif) ! important;
}
.vagao-cur-drop-cm {
	background-image:url(../Images/TipoVagao/vagao_cur_drop_cm.gif) ! important;
}
.vagao-cima {
    background-image: url(../Images/TipoVagao/vagao_cima.gif) ! important;
}