#menu-principal,
#menu-usuario,
#status-bar,
#layout-esquerda .x-panel-bbar
{
	background-color: #FFF !important;
	background-image: none !important;
	border: none !important;
	border-width: 0px !important;
}

.x-tree-node-leaf.x-tree-node-over a
{
	color: #000000;
}

.x-tree-node-el
{
	padding: 2px 0px;
}

.text-gray
{
	color:#bbbbbb;
	font-size: 9px;
}

table.x-btn .x-btn-small td.x-btn-mc em a span {
    text-decoration: none;
    color: #333333;
    display: inline;
    height: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
}

table.x-btn .x-btn-small td.x-btn-mc em a {
    display: block;
}

.hidden-clear::-ms-clear 
{ 
	display: none!important;
}